@import "tailwindcss";
@import "./variables.css";
@import "./variants.css";

html,
body {
  @apply font-display overflow-x-hidden overflow-y-auto;
}

.bg-color-system {
  @apply bg-(--bg-color-light) dark:bg-(--bg-color-dark) duration-200 transition-bg-color;
}

.bg-color-light {
  @apply bg-(--bg-color-light) duration-200 transition-bg-color;
}

.bg-color-dark {
  @apply bg-(--bg-color-dark) duration-200 transition-bg-color;
}

.bg-image-contact-system {
  @apply bg-[url("../../public/bg_contact.jpg")]
    dark:bg-[url("../../public/bg_contact_dark.jpg")]
    opacity-60 dark:opacity-100;
}

.bg-image-contact-light {
  @apply bg-[url("../../public/bg_contact.jpg")] opacity-60;
}

.bg-image-contact-dark {
  @apply bg-[url("../../public/bg_contact_dark.jpg")] opacity-100;
}

.bg-color-system-form {
  @apply border border-slate-300 bg-neutral-50 text-slate-600
    dark:border-neutral-600 dark:bg-black-form dark:text-ghost-white dark:shadow-neutral-900;
}

.bg-color-dark-form {
  @apply border bg-black-form text-ghost-white border-neutral-600 shadow-neutral-900;
}

.bg-color-light-form {
  @apply border border-slate-300 bg-neutral-50 text-slate-600;
}

.bg-color-system-card {
  @apply bg-neutral-100 border border-slate-300 dark:border-zinc-700
    dark:bg-black-card dark:shadow-neutral-600 max-pc:dark:shadow-neutral-700/70;
}

.bg-color-dark-card {
  @apply bg-black-card border border-zinc-700
    pc:shadow-neutral-600 max-pc:shadow-neutral-700/70;
}

.bg-color-light-card {
  @apply bg-neutral-100 border border-slate-300;
}

.bg-color-modal-system {
  @apply bg-neutral-100 border-2 bg-radial-[at_55%_60%]
    from-white to-blue-100 border-mist-500
    dark:from-neutral-800/90 dark:to-black-card dark:border-zinc-700;
}

.bg-color-modal-dark {
  @apply bg-black-card border-2 bg-radial-[at_55%_60%]
    to-black-card from-neutral-800/90 border-zinc-700;
}

.bg-color-modal-light {
  @apply bg-neutral-100 border-2 bg-radial-[at_55%_60%]
    from-white to-blue-100 border-mist-500;
}

.bg-content-loading-system {
  @apply bg-gray-300 dark:bg-gray-200/70;
}

.bg-content-loading-dark {
  @apply bg-gray-200/70;
}

.bg-content-loading-light {
  @apply bg-gray-300;
}

.text-color-system {
  @apply text-slate-600 dark:text-ghost-white;
}

.text-color-light {
  @apply text-slate-600;
}

.text-color-dark {
  @apply text-ghost-white;
}

.border-color-system {
  @apply border-gray-400 dark:border-neutral-500;
}

.border-color-light {
  @apply border-gray-400;
}

.border-color-dark {
  @apply border-neutral-500;
}

.border-profile-system {
  @apply border-mist-200 dark:border-ghost-white rounded-full border-4;
}

.border-profile-light {
  @apply border-mist-200 rounded-full border-4;
}

.border-profile-dark {
  @apply border-ghost-white rounded-full border-4;
}

.nav-dropdown {
  @apply absolute left-0 top-12 flex flex-col border rounded-md w-max;
}

#nav-menu-dropdown > :first-child {
  @apply rounded-t-md;
}

#nav-menu-dropdown > :last-child {
  @apply rounded-b-md;
}

.nav-menu-bg-color-system {
  @apply bg-white border-slate-300 dark:bg-black-card dark:border-neutral-600;

  & > * {
    @apply hover:bg-neutral-200 dark:hover:bg-neutral-600;
  }
}

.nav-menu-bg-color-dark {
  @apply bg-black-card border-neutral-600;

  & > * {
    @apply hover:bg-neutral-600;
  }
}

.nav-menu-bg-color-light {
  @apply bg-white border-slate-300;

  & > * {
    @apply hover:bg-neutral-200;
  }
}

.title-header {
  @apply select-none text-xl transition-color duration-300;
}

.title-header-theme-system {
  @apply text-slate-600 hover:text-slate-500 dark:text-ghost-white dark:hover:text-stone-200;
}

.title-header-theme-dark {
  @apply text-ghost-white hover:text-stone-200;
}

.title-header-theme-light {
  @apply text-slate-600 hover:text-slate-500;
}

.btn-select-theme {
  @apply h-full w-full px-2 py-1 cursor-pointer;
}

.btn-theme-system {
  @apply border-slate-400 bg-(--bg-color-light)
    transition-btn-theme duration-300
    hover:border-cyan-400/90 hover:shadow-btn-theme hover:shadow-cyan-300 active:shadow-btn-active-theme
    dark:hover:shadow-btn-theme-dark dark:hover:border-cyan-300
    dark:hover:shadow-cyan-400 dark:bg-(--bg-color-dark) dark:border-ghost-white
    dark:active:shadow-btn-active-theme-dark;
}

.btn-theme-dark {
  @apply border-ghost-white bg-(--bg-color-dark)
    transition-btn-theme duration-300 hover:shadow-btn-theme-dark hover:border-cyan-300
    hover:shadow-cyan-400 active:shadow-btn-active-theme-dark;
}

.btn-theme-light {
  @apply border-slate-400 bg-(--bg-color-light) transition-btn-theme hover:border-cyan-400/90
    hover:shadow-btn-theme hover:shadow-cyan-300 active:shadow-btn-active-theme;
}
